= render 'shared/top-title'

.wrapper
  .main
    .title
      新着用語

    .content-header
      .content-header__tag タグ
      .content-header__title タイトル 
      .content-header__content 説明

    - @contents.each do |content|
      .content-box
        .content-box__tag
          - content.tags.each do |content_tag|
            = link_to content_tag.name, content_path(content.id)
        .content-box__title
          = link_to content.title, content_path(content.id)
        .content-box__content
          = link_to content.content.truncate(30,omission: '...'), content_path(content.id)

  .side
    検索用