= render 'shared/top-title'

.wrapper
  .main
    .title
      新着用語

    .content-header
      %tr
        %td
          .content-header__tag タグ
        %td
          .content-header__title タイトル 
        %td
          .content-header__content 説明

    - @contents.each do |content|
      .content-box
        %tr
        .content-box__tag
          %td
            - content.tag_list.each do |tag|
              = link_to tag, content_path(content.id)
        .content-box__title
          %td
            = link_to content.title, content_path(content.id)
        .content-box__content
          %td
            = link_to content.content.truncate(30,omission: '...'), content_path(content.id)

  .side
    検索用