.content_show{
  background-color: #f8f6ef;
  width: 100%;
  height: calc(100vh - 80px);
  display: none;
  .title{
    width: 90%;
    margin: 0 auto;
    &__bar{
      font-size: 15px;
    }
    &__content{
      display: flex;
      justify-content: space-between;
      &__title{
      width: 90%;
      border-bottom:solid 3px  #8ec6ff;
      font-size: 25px;
      }
      &__items{
        a{
          border: solid 3px #1f4795;
          border-radius: 10px;
          color: #1f4795;
          font-weight: bold;
          text-decoration: none;
          padding: 10px;
        }
      }
    }
    &__bar-under{
      display: flex;
      &__like-box{
        display: flex;
        &__count{
          display: flex;
        }
        &__action{
          margin-left: 30px;
          width: 100px;
          
        }
        input[type=submit] {
          width: 120px;
          margin-left: 5%;
          margin-bottom: 10px;
        }
      }
      &__user-name{
        margin-left: 50%;
      }
      &__created_at{
        margin-left: 2%;
      }
    }

    &__tags{
      color: black;
      display: flex;
      width: 90%;

      &__tag{
        display: flex;
        margin-bottom: 10px;
        li{
          margin: 0px 5px 5px 0px;
          padding: 3px 10px 3px 10px;
          display: inline;
          border: solid 1px #6091d3;
          border-radius: 1px;
        }
      }
  }
}
  .content{
    padding-top: 10px;
    height: 75vh;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  }
}