.form{
  padding-top: 20px;
  background-color: #f8f6ef;
  width: 100%;
  height: calc(100vh - 100px);
  margin: 0 auto;
  text-align: left;
  position: relative;
    &__title{
      height: 10%;
      width: 90%;
      margin-left: 5%;

    }
    &__tag{
      margin-top: 20px;
      height: 10%;
      width: 90%;
      margin-left: 5%;

    }
    &__content{
      margin-top: 20px;
      height: 60%;
      width: 90%;
      margin-left: 5%;

    }
    &__submit{
      width: 100px;
      height: 100px;
      position: absolute;
      font-size: 100px;
      bottom: 5%;
      left: 50%;
    }
}